<footer class="footer">
  <small>
    
    The <%= link_to "Ruby on Rails Tutorial", 'http://rubyonrails.org/' %> by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  <p> <small>The time now: <%= Time.now %> </small></p>
</footer>
<p class="debug_dump"><%= debug params if Rails.env.development? %></p>
